/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * OpenLevelUp!
 * Web viewer for indoor mapping (based on OpenStreetMap data).
 * Author: Adrien PAVIE
 *
 * Style for all pages
 */

/**********
 * Global *
 **********/
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial;
	color: #222;
}

p {
	line-height: 1.4em;
}

a {
	color: #007BFE;
	text-decoration: none;
}

a:hover {
	color: #51A5FE;
}

h1 {
	margin: 10px 0;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

/*******
 * Map *
 *******/
#map {
	width: 100%;
	height: 100%;
}

/**********
 * Header *
 **********/
header {
	width: 100%;
}
 
#header-table {
	display: table;
	width: 100%;
}

#header-content {
	display: table-row;
}

#header-content .cell {
	display: table-cell;
	vertical-align: middle;
}

#logo-link {
	cursor: pointer;
}

/***************************
 * Overlay optional panels *
 ***************************/

/* General definition */
.overlay-panels {
	width: 100%;
	height: 100%;
	z-index: 1000;
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	display: table;
}

.overlay-panel {
	position: relative;
	vertical-align: middle;
}

.overlay-panel.hide {
	display: none;
}

.overlay-panel.show {
	display: table-cell;
}

.overlay-panel > div {
	background-color: rgba(128,128,128,0.8);
	padding: 5px;
	color: white;
	margin: 0 auto;
	visibility: visible;
}

.overlay-panel > div.centered {
	text-align: center;
}

.overlay-panel > div * {
	margin: 0;
	padding: 0;
}

.overlay-panel > div > h2 {
	background-color: #ddd;
	color: #444;
	padding: 5px;
	margin-bottom: 5px;
}

.overlay-panel > div > h2 > img {
	vertical-align: middle;
	margin-right: 10px;
}

/* Loading panel */
#op-loading {
	visibility: visible;
}

#op-loading ul {
	margin-left: 30px;
	margin-top: 10px;
}

#op-loading ul li {
	margin-bottom: 5px;
}

/* About panel */
#op-about a {
	color: #D2E2FF;
}

#op-about a:hover {
	color: #B3CEFF;
}

.overlay-close {
	text-align: right;
	margin: 0.2em;
}

/*******************
 * Leaflet pop-ups *
 *******************/

/* Popup titles */
.popup {
	font-weight: bold;
	margin: 0;
}

h1.popup {
	font-size: 105%;
	text-align: center;
}

h1.popup img {
	vertical-align: middle;
}

h1.popup img.icon {
	width: 24px;
}

h2.popup {
	font-size: 100%;
}

/* Popup text */
.leaflet-popup-content p.popup-txt {
	margin: 0;
}

p.popup-txt.centered {
	text-align: center;
}

/****************
 * Infobox area *
 ****************/
#infobox {
	display: none;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0 10px;
	text-align: center;
	padding: 0;
	margin: 0;
}

#infobox-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#infobox li {
	padding: 5px;
}

#infobox li.info {
	background-color: #D2E6FF;
	color: #2A86FF;
}

#infobox li.alert {
	background-color: #FEFFAA;
	color: #FF862F;
}

#infobox li.error {
	background-color: #FFD9D9;
	color: #FF2A2A;
}

/************************
 * Images overlay panel *
 ************************/

#op-images > div {
	position: relative;
	padding: 0;
	height: 80%;
	max-height: 800px;
}

#op-images > div > div {
	display: block;
	position: absolute;
	width: 100%;
}

#op-images .small-row {
	height: 50px;
}

#op-images-tabs-links {
	top: 0;
}

#op-images-tabs-content {
	top: 50px;
	bottom: 50px;
}

#op-images-footer {
	bottom: 0;
}

#op-images-tabs-links a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 5px 10px;
	margin: 5px;
	background: #777;
	width: 32px;
}

#op-images-tabs-links a img {
	height: 24px;
}

#op-images-tabs-links a.selected {
	background: #555;
	z-index: 101;
}

#op-images-tabs-content > div {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Spherical images tab */
#tab-spheric {
	display: table;
}

#tab-spheric #spherical-content {
	display: table-cell;
	vertical-align: middle;
}

#tab-spheric #spherical-legend {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 45%;
	padding: 12px;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}

#spherical-legend-title {
	font: bold 12px/1.1 arial,sans-serif;
	margin: 0px 0px 7px;
	color: #FFF;
}

#spherical-legend-text {
	font: italic 12px/1.4 georgia,serif;
	margin: 0px;
	color: #BBB;
}

#spherical-content canvas {
	width: 100%;
	height: 100%;
	/*max-height: 500px;*/
	cursor: pointer;
}

#spherical-nav > div {
	color: #ccc;
	font-size: 3em;
	position: absolute;
	top: 50%;
	margin-top: -31px;
	line-height: 62px;
	cursor: pointer;
}

#spherical-nav > div:hover {
	color: white;
}

#spherical-nav-right {
	right: 10px;
}

#spherical-nav-left {
	left: 10px;
}

/* Images status */
#op-images-footer > p {
	display: inline-block;
	position: absolute;
	bottom: 5px;
}

#op-images-status {
	left: 10px;
}

#op-images-footer .overlay-close {
	right: 10px;
}

#op-images-status a {
	color: white;
	cursor: help;
}

#op-images-status img {
	height: 24px;
}

.status {
	font-size: 2.7em;
	margin-right: 20px;
	color: orange;
}

.status.ok {
	color: green;
}

.status.missing {
	color: white;
}

.status.bad {
	color: red;
}

#op-images .overlay-close a {
	color: #D2E2FF;
}

#op-images .overlay-close a:hover {
	color: #B3CEFF;
}