/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * OpenLevelUp!
 * Web viewer for indoor mapping (based on OpenStreetMap data).
 * Author: Adrien PAVIE
 *
 * Style for all pages
 */

/**********
 * Global *
 **********/
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial;
	color: #222;
}

p {
	line-height: 1.4em;
}

a {
	color: #007BFE;
	text-decoration: none;
}

a:hover {
	color: #51A5FE;
}

h1 {
	margin: 10px 0;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

a.help {
	font-weight: normal;
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/*******
 * Map *
 *******/

#map {
	height: 100%;
}

/**********
 * Header *
 **********/

#logo-link {
	cursor: pointer;
}

#logo-link img {
	margin-top: 15px;
}

/***********
 * Sidebar *
 ***********/

/* Tabs */

.sidebar-tabs {
	background-color: #81ADFF;
}

.sidebar-tabs > ul > li > a > img, h1.sidebar-header .sidebar-close img {
	height: 24px;
	margin: 8px;
}

.sidebar-tabs > ul > li.level {
	text-align: center;
	cursor: pointer;
}

.sidebar-tabs > ul > li.disabled img {
	filter: invert(40%);
	-moz-filter: grayscale(40%);
}

.sidebar-tabs > ul > li:hover {
	background-color: #B8D1FF;
}

/* Level control */

#level-control {
	text-align: center;
	position: absolute;
	top: 42px;
	right: 0px;
	left: 0px;
}

#level-control select {
	width: 100%;
	max-width: 100%;
}

/* Content */

.sidebar-content {
	background-color: #E1EBFF;
	color: #444;
}

h1.sidebar-header img {
	height: 32px;
	vertical-align: middle;
}


/*******************
 * Sidebar content *
 *******************/

/* Home sidebar */

#home.active {
	height: 100%;
	width: 100%;
	display: table;
}

header, footer, #home > div {
	display: table-row;
	text-align: center;
}

#home > div {
	height: 100%;
}

/* Settings sidebar */

#settings {
	padding-left: 10px;
}

#settings ul {
	list-style: none;
	list-style-type: none;
	padding-left: 10px;
	text-align: left;
}

/* Room list sidebar */

#roomlist {
	padding-left: 10px;
	padding-right: 10px;
}

#rooms {
	color: #333;
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
}

#rooms a {
	color: #007BFE;
	text-decoration: none;
}

#rooms a:hover {
	color: #51A5FE;
}

/* Level row */
.lvl-row {
	display: table-row;
}

.lvl-name, .lvl-rooms {
	display: table-cell;
}

.lvl-name {
	vertical-align: top;
	border-right: 1px solid #2A75FF;
	font-weight: bold;
}

.lvl-rooms {
	vertical-align: middle;
	width: 100%;
}

.lvl-rooms ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.lvl-rooms li {
	text-align: left;
	padding-bottom: 2px;
}

.lvl-rooms li img {
	vertical-align: middle;
}

/* Search field */
.input-max {
	display: table;
}

.input-max .text {
	display: table-cell;
	width: 100%;
}

.input-max .text input {
	width: 100%;
}

/* Notes pane */

#notes textarea {
	width: 100%;
}

#notes .buttons {
	display: table;
	width: 100%;
}

#notes .buttons button {
	display: table-cell;
	width: 50%;
}

/* Routing tab */

.routing-destinations {
	display: table;
	width: 100%;
	margin-top: 5px;
	border-collapse: separate;
	border-spacing: 10px;
}

.routing-destination {
	display: table-row;
}

.routing-destination > div {
	display: table-cell;
	text-align: center;
}

#routing-start, #routing-end {
	width: 70%;
	text-align: left;
}

.routing-destination > div img {
	height: 24px;
	vertical-align: middle;
}

.routing-buttons button {
	float: right;
}

.routing-instructions {
	margin-top: 15px;
	padding: 10px;
	background-color: white;
}

.routing-instructions-general {
	font-size: 70%;
	margin-bottom: 5px;
	color: #777;
}

.rtg-instr-title {
	color: black;
}

.routing-instruction {
	border-top: 1px solid #ccc;
	padding: 5px 0;
}

.routing-instr-img img {
	vertical-align: middle;
	height: 16px;
}

.routing-instr-ref {
	font-weight: bold;
	font-size: 80%;
}

.routing-instr-txt {
	font-size: 80%;
}

.routing-instr-time {
	float: right;
	font-size: 70%;
	color: #777;
}


/*******************
 * Leaflet pop-ups *
 *******************/

/* Popup titles */
.popup {
	font-weight: bold;
	margin: 0;
}

h1.popup {
	font-size: 105%;
	text-align: center;
}

h1.popup img {
	vertical-align: middle;
}

h1.popup img.icon {
	width: 24px;
}

h2.popup {
	font-size: 100%;
}

/* Popup footer */
.popup-footer {
	margin: 5px 0 0 0;
	text-align: center;
}

.popup-footer img {
	height: 24px;
	padding: 0 5px;
}

/****************
 * Infobox area *
 ****************/

#infobox-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#infobox-list li {
	padding: 5px;
	margin-top: 5px;
}

#infobox-list li.info {
	background-color: #D2E6FF;
	color: #2A86FF;
}

#infobox-list li.alert {
	background-color: #FEFFAA;
	color: #FF862F;
}

#infobox-list li.error {
	background-color: #FFD9D9;
	color: #FF2A2A;
}

/************************
 * Images overlay panel *
 ************************/

.control-window-wide {
	width: 80%;
	height: 80%;
	overflow: hidden;
}

.control-window-wide .content {
	position: absolute;
	bottom: 0;
	top: 58px;
	right: 0;
	left: 0;
}

#op-images-tabs-content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 40px;
}

#op-images-status {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 30px;
	padding: 0;
}

#op-images-tabs-links a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 5px 10px;
	margin: 5px;
	background: #777;
	width: 32px;
}

#op-images-tabs-links a img {
	height: 24px;
}

#op-images-tabs-links a.selected {
	background: #555;
	z-index: 101;
}

#op-images-tabs-content > div {
	width: 100%;
	height: 100%;
}

/* Spherical images tab */
#tab-spheric {
	display: table;
}

#spherical-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: black;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

#spherical-legend {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 45%;
	padding: 12px;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}

#spherical-legend-title {
	font: bold 12px/1.1 arial,sans-serif;
	margin: 0px 0px 7px;
	color: #FFF;
}

#spherical-legend-text {
	font: italic 12px/1.4 georgia,serif;
	margin: 0px;
	color: #BBB;
}

#spherical-content canvas {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#spherical-nav > div {
	color: #ccc;
	font-size: 3em;
	position: absolute;
	top: 50%;
	margin-top: -31px;
	line-height: 62px;
	cursor: pointer;
}

#spherical-nav > div:hover {
	color: white;
}

#spherical-nav-right {
	right: 10px;
}

#spherical-nav-left {
	left: 10px;
}

#spherical-counter {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #BBB;
	font: 11px/1 arial,sans-serif;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	padding: 12px;
}

#spherical-direction {
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: #BBB;
	font: 11px/1 arial,sans-serif;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	padding: 12px;
}

/* Galleria */
.galleria-thumbnails-container {
	display: none;
}

.galleria-theme-classic .galleria-stage {
	bottom: 10px !important;
}

/* Images status */
#op-images-status a {
	color: white;
	cursor: help;
	margin: 0;
	padding: 0;
}

#op-images-status img {
	height: 24px;
	vertical-align: middle;
}

.status {
	margin-right: 20px;
	color: orange;
}

.status.ok {
	color: green;
}

.status.missing {
	color: white;
}

.status.bad {
	color: red;
}

/**********************
 * Tags overlay panel *
 **********************/

.op-tags-list {
	margin: 10px 0;
	overflow: auto;
}

.op-tags-details {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px 0;
	margin-top: 0;
	text-align: center;
}

/* Human readable details */
.detail {
	display: inline-block;
	margin: 0 20px;
}

.detail img {
	vertical-align: middle;
	height: 24px;
}

.detail .label {
	font-weight: bold;
	margin-right: 10px;
}

.detail .value {
	font-style: italic;
}

/* OSM tags */
.osm-tag {
	background: #DDE none repeat scroll 0% 0%;
	white-space: nowrap;
	font-family: monospace,Courier;
	color: #252525;
	font-size: 85%;
}

a.osm-key, a.osm-val, .leaflet-control-window .content a.osm-key, .leaflet-control-window .content a.osm-val {
	text-decoration: none;
	color: #0645AD;
}

span.osm-key, span.osm-val {
	text-decoration: none;
	font-weight: bold;
}

/***********************
 * Notes overlay panel *
 ***********************/

/* Comments */
.op-notes-comment {
	margin: 10px 10px 15px 10px;
}

.op-notes-comment .desc {
	font-size: 90%;
	color: #eee;
}

.op-notes-comment .txt {
	margin-left: 20px;
}

/* Footer */
.op-notes-footer {
	text-align: right;
	border-top: 1px solid white;
	padding-top: 5px;
}

/* Leaflet control */
.leaflet-control-note {
	cursor: pointer;
	text-align: center;
}

.leaflet-control-note img {
	width: 20px;
	height: 20px;
	padding: 3px;
}

.note-new-icon, .marker-routing-drag {
	cursor: move;
}

/******************
 * Various styles *
 ******************/

/* Loading panel */
#spinner {
	margin-right: 10px;
}

/* Images in about window */
.laureate {
	text-align: center;
	border-top: 1px solid white;
}

.laureate > span {
	display: block;
	margin: 5px 0;
}

.laureate .images img {
	height: 30px;
}

.laureate .desc {
}
