/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * OpenLevelUp!
 * Web viewer for indoor mapping (based on OpenStreetMap data).
 * Author: Adrien PAVIE
 *
 * Style for main page
 */

/*******
 * Map *
 *******/
#svg-area {
	width: 100%;
	height: 100%;
}

/* SVG area for map export */
#svg-area {
	display: none;
	position: absolute;
}

#over-map {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	visibility: hidden;
}

#over-map * {
	visibility: visible;
}

/***************
 * Main panels *
 ***************/
#main-panel {
	float: left;
	z-index: 1000;
	bottom: 0;
	width: 20%;
	max-width: 20%;
	height: 100%;
	text-align: center;
	display: table;
	border-collapse: separate;
	border-spacing: 0;
	visibility: hidden;
}

.row {
	display: table-row;
}

header, footer {
	visibility: visible;
}

header, footer, #central {
	display: table-cell;
	visibility: hidden;
}

header p, footer p {
	margin: 0.7em 0;
}

header, #central .part {
	background-color: #81ADFF;
	color: white;
}

header a.help, #central .part a.help {
	font-weight: normal;
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #eee;
}

header a.help:hover, #central .part a.help:hover {
	color: #ccc;
}

/* Header */
#header-content .cell {
	text-align: center;
}

#header-levels {
	width: 20%;
}

#header-levels p {
	padding: 1em 0;
	border-left: 1px solid #2A75FF;
}

a.button-level {
	cursor: pointer;
}

a.button-level img {
	vertical-align: middle;
}

/* Central part */
#row-central {
	visibility: hidden;
}

#central {
	height: 100%;
	padding: 0;
	color: white;
	position: relative;
}

#central * {
	margin: 0;
	padding: 0;
}

#central .part {
	margin: 0;
	padding-bottom: 1em;
	display: none;
	visibility: visible;
}

#central h2 {
	padding: 0.3em 0;
	margin: 0 1em;
	border-top: 1px solid #2A75FF;
}

#central h2 img {
	vertical-align: middle;
	width: 40px;
}

/* Footer */
footer {
	color: #333;
	font-size: 80%;
	background-color: #E9F1FE;
}

/***************************
 * Central part components *
 ***************************/

/* Settings */
#settings ul {
	list-style: none;
	list-style-type: none;
	padding-left: 10px;
	text-align: left;
}

/* Export */
#export a {
	font-weight: normal;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #eee;
}

#export a:hover {
	color: #ccc;
}

/* Rooms list */
#central #room-names.part {
	height: 100%;
	padding-bottom: 0;
	position: relative;
}

/* Close central icon */
#central-close {
	position: absolute;
	right: 0.5em;
	top: 0;
	font-weight: bold;
	font-size: 1.5em;
	color: #ccc;
	cursor: pointer;
	visibility: visible;
	display: none;
	z-index: 1001;
}

#central-close:hover {
	color: white;
}

/**********************
 * Main panel buttons *
 **********************/
#main-buttons {
	position: relative;
	float: left;
	top: 0.2em;
	display: table;
	z-index: 1000;
	border-collapse: separate;
	border-spacing: 0 0.2em;
}

/* Individual button */
#main-buttons .button {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding: 0 0.3em;
	background-color: rgba(64,64,64,0.8);
	cursor: pointer;
}

#main-buttons .button:hover {
	background-color: rgba(96,96,96,0.8);
}

#main-buttons .button p {
	color: white;
	text-decoration: none;
	margin: 0.5em 0.3em;
}

#main-buttons .button img {
	vertical-align: middle;
	width: 24px;
}

/***************************
 * Overlay optional panels *
 ***************************/

/* General definition */
.overlay-panel {
	height: 40%;
	max-height: 40%;
	width: 30%;
	top: 30%;
	left: 35%;
}

/* Room names */
#op-rooms {
	top: 15%;
	height: 70%;
}

#op-rooms h2 {
	text-align: left;
}

#op-rooms h2 img {
	width: 32px;
	vertical-align: middle;
}

/**************
 * Rooms list *
 **************/
#rooms-container {
	position: relative;
	overflow-y: scroll;
	background-color: #E9F1FE;
	margin: 10px;
	height: 300px;
}

/* Search field */
.input-max {
	display: table;
}

.input-max .text {
	display: table-cell;
	width: 100%;
}

.input-max .text input {
	width: 100%;
}

/* Rooms list */
#rooms {
	color: #333;
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
}

#rooms a {
	color: #007BFE;
	text-decoration: none;
}

#rooms a:hover {
	color: #51A5FE;
}

/* Level row */
.lvl-row {
	display: table-row;
}

.lvl-name, .lvl-rooms {
	display: table-cell;
}

.lvl-name {
	vertical-align: top;
	border-right: 1px solid #2A75FF;
	font-weight: bold;
}

.lvl-rooms {
	vertical-align: middle;
	width: 100%;
}

.lvl-rooms ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.lvl-rooms li {
	text-align: left;
}

.lvl-rooms li img {
	vertical-align: middle;
}

/****************
 * Infobox area *
 ****************/
#infobox {
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 10;
}

#infobox li {
	margin-bottom: 5px;
}

/*******************
 * Leaflet pop-ups *
 *******************/

/* Popup navigation bar */
.popup-nav {
	display: table;
	border-collapse: separate;
	border-spacing: 0.3em 0;
	width: 100%;
	margin: 0.3em 0 0 0;
}

.popup-nav .row {
	display: table-row;
}

.popup-nav .item {
	display: table-cell;
	text-align: center;
	background-color: #eee;
	width: 33%;
}

.popup-nav .item.selected {
	background-color: #ccc;
}

/* Popup tab */
.popup-tab {
	border: 2px solid #ccc;
	background-color: #fafafa;
	padding: 0.3em;
}

.popup-tab.hidden {
	display: none;
}

/************************
 * Images overlay panel *
 ************************/

#op-images {
	height: 60%;
	max-height: 60%;
	width: 40%;
	top: 20%;
	left: 30%;
}

.tabs > div > a {
	margin: 0 5px;
}

/* Tabs content */
.tabs > div > div {
	top: 27px;
}

#spherical-container canvas {
	width: 100%;
	height: 100%;
}