/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * OpenLevelUp!
 * Web viewer for indoor mapping (based on OpenStreetMap data).
 * Author: Adrien PAVIE
 *
 * Style for main page
 */

/**********
 * Global *
 **********/
body {
	display: table;
	width: 100%;
	height: 100%;
}

.body-row {
	display: table-row;
}

#map, header, #infobox {
	display: table-cell;
}

/**********
 * Header *
 **********/
header {
	background-color: #81ADFF;
	color: white;
}

#header-title, #header-help {
	padding: 0 10px;
	width: 20%;
}

#header-levels {
	text-align: center;
	width: 60%;
}

#header-levels img {
	vertical-align: middle;
}

#header-help {
	text-align: right;
}

/***************************
 * Overlay optional panels *
 ***************************/

/* General definition */
.overlay-panel {
	height: 60%;
	max-height: 60%;
	width: 80%;
	top: 20%;
	left: 10%;
}


/************************
 * Images overlay panel *
 ************************/

.tabs > div > a {
	margin: 5px 5px 0 5px;
}

/* Tabs content */
.tabs > div > div {
	top: 34px;
}