/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * OpenLevelUp!
 * Web viewer for indoor mapping (based on OpenStreetMap data).
 * Author: Adrien PAVIE
 *
 * Style for main page
 */

/*
 * General style
 */
body {
	font-family: Arial;
	color: #222;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

p {
	line-height: 1.5em;
}

a {
	color: #007BFE;
	text-decoration: none;
}

a:hover {
	color: #51A5FE;
}

/*
 * Panel structure
 */
.panel {
	height: 100%;
	position: relative;
}

.panel.overlay {
	height: 30%;
	width: 30%;
	position: absolute;
	top: 35%;
	left: 35%;
	z-index: 10;
	background-color: rgba(128,128,128,0.8);
	color: white;
	text-align: center;
}

#op-about * {
	margin: 0;
	padding: 0;
}

#op-about h2 {
	background-color: #ddd;
	color: #222;
	padding: 5px;
	margin: 5px;
}

#op-about a {
	color: #D2E2FF;
}

#op-about a:hover {
	color: #B3CEFF;
}

#about-close {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

/* Side panel */
#side-panel {
	width: 20%;
	float: left;
	padding: 10px;
	background-color: #81ADFF;
	text-align: center;
	color: white;
}

/* Main panel */
#main-panel {
	width: 80%;
	margin-left: 20%;
}

/*
 * Side panel parts
 */
#side-panel h1 {
	text-align: center;
	/*background-color: #D2E6FF;*/
	color: #2A86FF;
	margin-bottom: 0;
}

#side-panel a.help {
	font-weight: normal;
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #eee;
}

#side-panel a.help:hover {
	color: #ccc;
}

#header {
	text-align: center;
}

#infobox {
	font-weight: bold;
	font-size: 90%;
	padding: 0 10px;
	text-align: center;
	padding: 0;
	margin: 0;
	/*text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);*/
}

#infobox-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#infobox li {
	padding: 5px;
	margin-bottom: 5px;
}

#infobox li.info {
	background-color: #D2E6FF;
	color: #2A86FF;
}

#infobox li.alert {
	background-color: #FEFFAA;
	color: #FF862F;
}

#infobox li.error {
	background-color: #FFD9D9;
	color: #FF2A2A;
}

#settings, #export {
	border-bottom: 1px solid #2A75FF;
	margin: 10px 0;
}

#settings {
	border-top: 1px solid #2A75FF;
}

#settings a.button {
	border: 1px solid grey;
	background-color: #ddd;
	font-weight: normal;
	padding: 5px 10px;
	cursor: pointer;
	color: #222;
}

#settings a.button:hover {
	background-color: #eee;
	font-weight: bold;
}

#settings ul {
	list-style: none;
	list-style-type: none;
	padding-left: 10px;
	text-align: left;
}

#export {
	padding-bottom: 10px;
}

#export * {
	margin: 0;
	padding: 0;
}

#export h2 {
	font-size: 110%;
}

#export a {
	font-weight: normal;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #eee;
}

#export a:hover {
	color: #ccc;
}

#footer {
	border-top: 1px solid gray;
	color: #333;
	text-align: center;
	font-size: 80%;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	background-color: #E9F1FE;
}

/*
 * Overlay panel rules
 */
.text-rotation {
	text-align: center;
	font-size: 130%;
}

.rotation {
	font-size: 60px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	-webkit-animation:spin 0.7s linear infinite;
	-moz-animation:spin 0.7s linear infinite;
	animation:spin 0.7s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

/*
 * Map related rules
 */
#map {
	height: 100%;
}

/* Popup titles */
.popup {
	font-weight: bold;
	margin: 0;
}

h1.popup {
	font-size: 105%;
	text-align: center;
}

h1.popup img {
	width: 24px;
	vertical-align: middle;
}

h2.popup {
	font-size: 100%;
}

.leaflet-popup-content p.popup-txt {
	margin: 0;
}

p.popup-txt.centered {
	text-align: center;
}

.popup-img {
	position: relative;
}

.popup-img img {
	width: 100%;
	display: block;
}