/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * OpenLevelUp!
 * Web viewer for indoor mapping (based on OpenStreetMap data).
 * Author: Adrien PAVIE
 *
 * Style for main page
 */

/**********
 * Global *
 **********/
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial;
	color: #222;
}

p {
	line-height: 1.4em;
}

a {
	color: #007BFE;
	text-decoration: none;
}

a:hover {
	color: #51A5FE;
}

h1 {
	margin: 10px 0;
}

/*******
 * Map *
 *******/
#map, #svg-area {
	width: 100%;
	height: 100%;
}

/* SVG area for map export */
#svg-area {
	display: none;
	position: absolute;
}

/***************
 * Main panels *
 ***************/
#main-panel {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	bottom: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	display: table;
	border-collapse: separate;
	border-spacing: 0;
	visibility: hidden;
}

.row {
	display: table-row;
}

header, footer {
	visibility: visible;
}

header, footer, #central {
	display: table-cell;
}

header p, footer p {
	margin: 0.7em 0;
}

header, #central .part {
	background-color: #81ADFF;
	color: white;
}

header a.help, #central .part a.help {
	font-weight: normal;
	cursor: help;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #eee;
}

header a.help:hover, #central .part a.help:hover {
	color: #ccc;
}

/* Header */
header {
	display: table;
	width: 100%;
}

#header-content {
	display: table-row;
}

#header-content .cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#header-title {
	width: 80%;
}

#header-levels {
	width: 20%;
}

#header-levels p {
	padding: 1em 0;
	border-left: 1px solid #2A75FF;
}

a.button-level {
	cursor: pointer;
}

a.button-level img {
	vertical-align: middle;
}

/* Central part */
#row-central {
	visibility: hidden;
}

#central {
	height: 100%;
	padding: 0;
	color: white;
	position: relative;
}

#central * {
	margin: 0;
	padding: 0;
}

#central .part {
	margin: 0;
	padding-bottom: 1em;
	display: none;
	visibility: visible;
}

#central h2 {
	padding: 0.3em 0;
	margin: 0 1em;
	border-top: 1px solid #2A75FF;
}

#central h2 img {
	vertical-align: middle;
	width: 40px;
}

/* Footer */
footer {
	color: #333;
	font-size: 80%;
	background-color: #E9F1FE;
}

/***************************
 * Central part components *
 ***************************/

/* Settings */
#settings ul {
	list-style: none;
	list-style-type: none;
	padding-left: 10px;
	text-align: left;
}

/* Export */
#export a {
	font-weight: normal;
	text-decoration: underline;
	text-decoration-style: dotted;
	color: #eee;
}

#export a:hover {
	color: #ccc;
}

/* Rooms list */
#central #room-names.part {
	height: 100%;
	padding-bottom: 0;
	position: relative;
}

/* Close central icon */
#central-close {
	position: absolute;
	right: 0.5em;
	top: 0;
	font-weight: bold;
	font-size: 1.5em;
	color: #ccc;
	cursor: pointer;
	visibility: visible;
	z-index: 1001;
}

#central-close:hover {
	color: white;
}

/**********************
 * Main panel buttons *
 **********************/
#main-buttons {
	position: absolute;
	left: 20%;
	top: 0.2em;
	display: table;
	z-index: 1000;
	border-collapse: separate;
	border-spacing: 0 0.2em;
}

#main-buttons.opened {
	left: 20%;
}

/* Individual button */
#main-buttons .button {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding: 0 0.3em;
	background-color: rgba(64,64,64,0.8);
	cursor: pointer;
}

#main-buttons .button:hover {
	background-color: rgba(96,96,96,0.8);
}

#main-buttons .button p {
	color: white;
	text-decoration: none;
	margin: 0.5em 0.3em;
}

#main-buttons .button img {
	vertical-align: middle;
	width: 24px;
}

/***************************
 * Overlay optional panels *
 ***************************/

/* General definition */
.overlay-panel {
	height: 40%;
	max-height: 40%;
	width: 30%;
	position: absolute;
	top: 30%;
	left: 35%;
	z-index: 1000;
	color: white;
	text-align: center;
	display: none;
}

.overlay-panel * {
	margin: 0;
	padding: 0;
}

.overlay-content {
	position: relative;
	background-color: rgba(128,128,128,0.8);
	padding: 0.1em;
}

.overlay-panel h2 {
	background-color: #ddd;
	color: #444;
	padding: 5px;
	margin: 5px;
}

/* Loading panel */
#op-loading div {
	position: relative;
	text-align: left;
}

#op-loading h2 {
	padding-left: 45px;
}

#op-loading ul {
	margin-left: 30px;
	margin-top: 10px;
}

#op-loading ul li {
	margin-bottom: 5px;
}

#rotation {
	font-size: 3em;
	font-weight: bold;
	position: absolute;
	left: 35px;
	top: 10px;
	color: #444;
	margin: -18px 0 0 -27px;
	-webkit-animation:spin 0.7s linear infinite;
	-moz-animation:spin 0.7s linear infinite;
	animation:spin 0.7s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

/* About panel */
#op-about a {
	color: #D2E2FF;
}

#op-about a:hover {
	color: #B3CEFF;
}

.overlay-close {
	text-align: right;
	margin: 0.2em;
}

/* Room names */
#op-rooms {
	top: 15%;
	height: 70%;
}

#op-rooms h2 {
	text-align: left;
}

#op-rooms h2 img {
	width: 32px;
	vertical-align: middle;
}

/**************
 * Rooms list *
 **************/
#rooms-container {
	position: relative;
	overflow-y: scroll;
	background-color: #E9F1FE;
	margin: 10px;
	height: 300px;
}

/* Search field */
.input-max {
	display: table;
}

.input-max .text {
	display: table-cell;
	width: 100%;
}

.input-max .text input {
	width: 100%;
}

/* Rooms list */
#rooms {
	color: #333;
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
	width: 100%;
}

#rooms a {
	color: #007BFE;
	text-decoration: none;
}

#rooms a:hover {
	color: #51A5FE;
}

/* Level row */
.lvl-row {
	display: table-row;
}

.lvl-name, .lvl-rooms {
	display: table-cell;
}

.lvl-name {
	vertical-align: top;
	border-right: 1px solid #2A75FF;
	font-weight: bold;
}

.lvl-rooms {
	vertical-align: middle;
	width: 100%;
}

.lvl-rooms ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.lvl-rooms li {
	text-align: left;
}

.lvl-rooms li img {
	vertical-align: middle;
}

/****************
 * Infobox area *
 ****************/
#infobox {
	display: none;
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 10;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0 10px;
	text-align: center;
	padding: 0;
	margin: 0;
}

#infobox-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#infobox li {
	padding: 5px;
	margin-bottom: 5px;
	/* border: 2px outset gray; */
}

#infobox li.info {
	background-color: #D2E6FF;
	color: #2A86FF;
}

#infobox li.alert {
	background-color: #FEFFAA;
	color: #FF862F;
}

#infobox li.error {
	background-color: #FFD9D9;
	color: #FF2A2A;
}

/*******************
 * Leaflet pop-ups *
 *******************/

/* Popup titles */
.popup {
	font-weight: bold;
	margin: 0;
}

h1.popup {
	font-size: 105%;
	text-align: center;
}

h1.popup img {
	vertical-align: middle;
}

h1.popup img.icon {
	width: 24px;
}

h2.popup {
	font-size: 100%;
}

/* Popup navigation bar */
.popup-nav {
	display: table;
	border-collapse: separate;
	border-spacing: 0.3em 0;
	width: 100%;
	margin: 0.3em 0 0 0;
}

.popup-nav .row {
	display: table-row;
}

.popup-nav .item {
	display: table-cell;
	text-align: center;
	background-color: #eee;
	width: 33%;
}

.popup-nav .item.selected {
	background-color: #ccc;
}

/* Popup tab */
.popup-tab {
	border: 2px solid #ccc;
	background-color: #fafafa;
	padding: 0.3em;
}

.popup-tab.hidden {
	display: none;
}

/* Popup text */
.leaflet-popup-content p.popup-txt {
	margin: 0;
}

p.popup-txt.centered {
	text-align: center;
}

/************************
 * Images overlay panel *
 ************************/

#op-images {
	height: 60%;
	max-height: 60%;
	width: 40%;
	top: 20%;
	left: 30%;
}

#op-images .overlay-close a {
	color: #D2E2FF;
}

#op-images .overlay-close a:hover {
	color: #B3CEFF;
}

/* Tabs block */
.tabs {
	height: 100%;
	position: relative;
	width: 100%;
}

/* Tabs links */
.tabs > div {
	display: inline;
}

.tabs > div > a {
	position: relative;
	text-decoration: none;
	color: white;
	display: block;
	float: left;
	padding: 5px 10px;
	margin: 0 5px;
}

.tabs > div > a {
	background: #444;
	z-index: 100;

}

.tabs > div.selected > a {
	background: #666;
	z-index: 101;
}

.tabs > div.hide {
	display: none;
}

/* Tabs content */
.tabs > div > div {
	left: 0;
	top: 27px;
	bottom: 0;
	right: 0;
	padding: 10px 5px 0 5px;
	border-top: 2px solid #666;
	margin: 0 5px 5px 5px;
	z-index: 100;
}

.tabs > div > div {
	position: absolute;
	display: none;
}

.tabs > div.selected > div {
	position: absolute;
	display: block;
}

.tabs > div > div img {
	height: 100%;
	max-width: 100%;
}

.tabs > div > div#mapillary {
	overflow-y: auto;
}