/*
 * This file is part of YoHours.
 * 
 * YoHours is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * YoHours is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with YoHours.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * YoHours
 * Web interface to make opening hours data for OpenStreetMap the easy way
 * Author: Adrien PAVIE
 *
 * CSS Style
 */
body {
	margin-top: 60px;
	height: 100%;
}

img.logo {
	height: 80px;
}

#opening_hours {
	text-align: center;
}

#oh {
	width: 50%;
}

.osm-tag {
	font-size: 115%;
	background: #DDE none repeat scroll 0% 0%;
	white-space: nowrap;
	font-family: monospace,Courier;
}

.osm-key {
	font-weight: bold;
}

footer {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}