/*
 * This file is part of NotesFeed.
 * 
 * NotesFeed is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * NotesFeed is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with NotesFeed.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * NotesFeed
 * Bounding box selector to get RSS feed link for OSM Notes.
 * Author: Adrien PAVIE
 *
 * Style for main page
 */

/*
 * General style
 */
body {
	font-family: Arial;
	color: #222;
}

p {
	line-height: 1.5em;
}

/*
 * Panel structure
 */
.panel {
	/*border: 1px solid red;*/
	height: 100%;
	position: relative;
}

/* Side panel */
#side-panel {
	width: 20%;
	float: left;
	padding: 5px;
	overflow: auto;
}

#side-panel h2 {
	color: #E89700;
}

/* Main panel */
#main-panel {
	width: 80%;
	margin-left: 20%;
}

/*
 * Side panel parts
 */
#header {
	text-align: center;
}

#header h1 {
	background-color: #FFF7C3;
	color: #E89700;
}

#whatisit {
	text-align: center;
}

#bbox ul {
	list-style: none;
	padding: 0;
}

#footer {
	border-top: 1px solid gray;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 80%;
	right: 0;
}

#link-href {
	text-align: center;
}

#link-href img {
	height: 50px;
	vertical-align: middle;
}

#link-href a {
	border: 1px solid gray;
	text-decoration: none;
	padding: 20px 5px;
	color: #333;
	background-color: #ddd;
}

#link-href a:hover {
	color: #444;
	background-color: #eee;
}

/*
 * Map related rules
 */
#map {
	height: 100%;
}
